<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<h1 class="mt-4">Contact page</h1>
<body>
<nav class="w3-bar w3-black">
    <a href="/dashboard" class="w3-button w3-bar-item">Home</a>
    <a href="/appointment" class="w3-button w3-bar-item">Appointment</a>
    <a href="/profile" class="w3-button w3-bar-item">Profile</a>
    <a href="/flightHealthInsurance" class="w3-button w3-bar-item">flight Health Insurancee</a>
    <a href="/forum" class="w3-button w3-bar-item">Forum</a>
    <a href="/contact" class="w3-button w3-bar-item">Contact</a>
    <a href="/users/logout" class="w3-button w3-bar-item">Logout</a>
</nav>
<section>

</section>
<div class="container">
    <div style="text-align:center">
        <h2>Contact Us</h2>
        <p>Email adrres: bitonkfir0@gmail.com</p>
    </div>
</div>
</body>