<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<h1 class="mt-4">Doctor Profile</h1>
<nav class="w3-bar w3-black">
    <a href="/dashboard" class="w3-button w3-bar-item">Home</a>
    <a href="/appointment" class="w3-button w3-bar-item">Appointment</a>
    <a href="/profile" class="w3-button w3-bar-item">Profile</a>
    <a href="#forum" class="w3-button w3-bar-item">Forum</a>
    <a href="#contact" class="w3-button w3-bar-item">Contact</a>
    <a href="/users/logout" class="w3-button w3-bar-item">Logout</a>
</nav>
<body>
<header>




    <section>
        <p>Name:dr.<%= user.name %></p>
        <p>Mail:<%= user.email %></p>
    </section>
    <br/>
</header>

<hr/>
<main>
    <h2>Patients Info:</h2>
    <br/>
</main>

<hr/>
<footer>
    <a href="https://www.google.com/" target="_blank">Google</a>
</footer>
</body>

